ModelSupport_ICC_Eval_XE/*
thirdparty/AsyncCalls/Sources.zip
Profiling/*
output/*
*.dcu
*.exe
*.~pas
*.ddp
*.drc
*.~*
*.dsk
*.dproj.local
*.groupproj.local
*/_sgbak/*
*.cbk
*.tmp
*.bak
CMakeLists.txt
ICC_Eval_XE_project.tvsconfig
*.identcache
*.orig
*.otares
*.obj
*.tvsconfig
*.vlb
*.stat
*/__recovery/*
Source/Modules/Images/Cameras/Lcms/original/*.dll
Source/Thirdparty/
Source/Modules/Images/Cameras/Lcms/original/*.lib
